[user]
    name = Petro Verkhogliad
    email = vpetro@gmail.com
    signingkey = AC9C9A77

[color]
    ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,ct-at-eol
    excludesfile = ~/.gitignore_global

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
    relativePaths = false

[alias]
    pl = pull origin
    ps = push origin
    al = add --all
    au = add -u
    st = status -s -b
    ci = commit -v
    br = branch
    co = checkout
    df = diff
    lc = log ORIG_HEAD.. --stat --no-merges
    sl = log --format='%h %C(yellow) %cr %Cgreen %s %Cblue %ce'
    l = log --graph --abbrev-commit --date=relative --decorate=no
    lol = log --graph --decorate --abbrev-commit
    lola = log --graph --decorate --abbrev-commit --all
    ls = ls-files
    ctags = !.git/hooks/ctags
    branch-diff = !.git/hooks/branch-diff
    current-branch = rev-parse --abbrev-ref HEAD
    subu = submodule update
    unstage = reset HEAD --
    pl = pull origin
    ps = push origin
    unstage = reset HEAD
    uncommit = reset --soft HEAD^
    conflicted-files = diff --name-only --diff-filter=U
    br = for-each-ref --sort='committerdate' --format="%(refname:short)" refs/heads/
    graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"


[format]
    pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[init]
    templatedir = ~/.git_template
    defaultBranch = main


[push]
    default = current

[gc]
    auto = 1

[diff]
    tool = vimdiff

[pager]
    diff = 

[commit]
    gpgsign = true
    verbose = true

[merge]
  summary = true
  tool = "nvim"

[mergetool]
  keepBackup = false
  prompt = false

[mergetool "nvim"]
  cmd = "nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""

